.App {
  display: flex;
  width: 99vw;
  justify-content: space-between;
  background-color: #fafafa;
  font-family: "Montserrat";
  flex-direction: column;
  overflow-x: hidden;
  gap: 2vh;
}

#container-first-page {
  display: flex;
  gap: 1.4em;
}

#ui-left {
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-top: 8vh;
  width: 65vw;
  gap: 1.5em;
}

#ui-left-bottom {
  display: flex;
  gap: 1.4em;
}

#ui-right {
  padding-right: 5vw;
  padding-top: 8vh;
  width: 35vw;
}

#container-second-page {
  width: 100vw;
  margin-left: 5vw;
}
