.App {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #fafafa;
  font-family: "Montserrat";
  gap: 1.4em;
  overflow-x: hidden;
}

#ui-left {
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-top: 8vh;
  width: 65vw;
  gap: 1.5em;
}

#ui-left-bottom {
  display: flex;
  gap: 1.4em;
}

#ui-right {
  padding-right: 5vw;
  padding-top: 8vh;
  width: 35vw;
}
